{% extends 'layout.html.twig' %}

{% block jumbotron %}
    <h1>Herzlich Willkommen!</h1>
    <p></p>

    <h2>Kontakt</h2>
    <p>Du möchtest uns etwas mitteilen? Dann schreib einfach an <a href="mailto:bid@strassen-von-st-pauli.net?subject=Kontakt%20Website" class="unbreakable">strassen-von-st-pauli@st-pauli-selber-machen.de</a></p>
{% endblock %}
