{% extends 'layout.html.twig' %}

{% block jumbotron %}
    <h1>Herzlich Willkommen!</h1>
    <p>Diese Seite präsentiert das erste Projekt der Arbeitsgruppe „Straßen von St. Pauli“. Sie ist im Zusammenhang mit „<a href="http://www.st-pauli-selber-machen.de" target="_blank">St. Pauli selber machen</a>“ (SPsm) entstanden und vereint Leute aus dem Stadtteil, die am Thema Kartierung interessiert sind. Wir versuchen uns in regelmäßigen Abständen zu treffen und auszutauschen.</p>

    <h2>Die Idee</h2>
    <p>Die Idee des Projekts ist, die Eigentumsverhältnisse in St. Pauli zu kartieren. Dabei soll keine genaue Zuordnung des einzelnen Eigentums stattfinden, sondern vielmehr eine Erhebung der verschiedenen Eigentumsformen, die wir in Kategorien zusammenfassen. Dies kann uns ermöglichen, die momentanen Verhältnisse auf dem Wohnungsmarkt zu analysieren. Die Motivation dahinter ist, anhand der Daten eine Argumentationsgrundlage für weitere Diskussionen zur Entwicklung des Stadtteils, der <a href="http://wiki.rechtaufstadt.net/index.php/Theorien_zur_Gentrifizierung" target="_blank">Gentrifizierung</a> und anderen Recht-auf-Stadt-Themen zu erarbeiten. Weil es schwierig ist, über die zuständigen Behörden an diese Daten zu gelangen, haben wir uns dafür entschieden, die Daten gemeinsam mit den Bewohner_innen von St. Pauli zu sammeln.</p>

    <h2>Der Prozess und aktuelle Stand</h2>
    <p>Bisher haben wir erste Erhebungen in der Nachbar_innenschaft durchgeführt, um die Art und den Umfang der Abfrage zu testen. Daraufhin haben wir ein digitales Eingabeformular erstellt, welches von Mitte April bis Oktober 2015 in der Testphase war. Nun ist das Eingabeformular öffentlich zugänglich. Die eingegeben Daten werden sofort und anonymisiert auf der <a href="{{ path('map') }}">Karte</a> angezeigt.</p>

    <h2>Veröffentlichung und Datenschutz</h2>
    <p>Die Veröffentlichung auf unserer Karte ermöglicht eine visuelle und übersichtliche Darstellung der verschiedenen Eigentumsverhältnisse. Die Darstellung der Daten erfolgt anonym und verschlüsselt. Die Datenpunkte erscheinen nicht genau an ihren eingetragenen Orten. Damit wird die Karte bei jedem Aufruf anders aussehen, aber dennoch durch die Menge der Datenpunkte ein aussagekräftiges Bild vermitteln. Mit dieser Prozedur wollen wir verhindern, dass die Karte möglichen Investor_innen dabei hilft, neue Objekte zu finden, wie dies beim <a href="http://www.leerstandsmelder.de/hamburg/" target="_blank">Leerstandsmelder</a> geschehen sein soll.</p>

    <h2>Kontakt</h2>
    <p>Du möchtest uns etwas mitteilen? Dann schreib einfach an <a href="mailto:strassen-von-st-pauli@st-pauli-selber-machen.de?subject=Kontakt%20Website" class="unbreakable">strassen-von-st-pauli@st-pauli-selber-machen.de</a></p>
{% endblock %}
