{% extends 'layout.html.twig' %}

{% block jumbotron %}
    <h1>Herzlich Willkommen!</h1>
    <p>Hier folgt eine Erläuterung zur Karte...</p>

    <h2>Legende</h2>
    <!-- <p>Du möchtest uns etwas mitteilen? Dann schreib einfach an <a href="mailto:bid@strassen-von-st-pauli.net?subject=Kontakt%20Website" class="unbreakable">strassen-von-st-pauli@st-pauli-selber-machen.de</a></p> -->
{% endblock %}
